h1 {
  text-align: center;
  transition: all 12s, ease;
  -webkit-transition: all 12s, ease;
  -moz-transition: all 12s, ease;
  -o-transition: all 12s, ease;
  -ms-transition: all 12s, ease;
}

.container-fluid {
  height: 100vh;
  transition: all 12s, ease;
  -webkit-transition: all 12s, ease;
  -moz-transition: all 12s, ease;
  -o-transition: all 12s, ease;
  -ms-transition: all 12s, ease;
}

.container-fluid .container {
  height: 100vh;
  transition: all 12s, ease;
  -webkit-transition: all 12s, ease;
  -moz-transition: all 12s, ease;
  -o-transition: all 12s, ease;
  -ms-transition: all 12s, ease;
}

.container-fluid .container .container-first {
  height: 50vh;
}

.container-fluid .container .container-first .inp {
  width: 100%;
}

.container-fluid .container #btnDo {
  margin-top: 5%;
  margin-bottom: 3%;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.container-fluid .container .container-second {
  height: 50vh;
}

.container-fluid .container .container-second .button-block {
  margin-top: 5%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.container-fluid .container .container-second .button-block .btn-action {
  border: 0;
  margin-bottom: 3%;
  transition: all 12s, ease;
  -webkit-transition: all 12s, ease;
  -moz-transition: all 12s, ease;
  -o-transition: all 12s, ease;
  -ms-transition: all 12s, ease;
}

.container-fluid .container .container-second .input-num2 {
  margin-top: 2%;
}
