h1 {
    text-align: center;

    transition: all 12s, ease;
    -webkit-transition: all 12s, ease;
    -moz-transition: all 12s, ease;
    -o-transition: all 12s, ease;
    -ms-transition: all 12s, ease;
}


.container-fluid {
    height: 100vh;
    transition: all 12s, ease;
    -webkit-transition: all 12s, ease;
    -moz-transition: all 12s, ease;
    -o-transition: all 12s, ease;
    -ms-transition: all 12s, ease;

    .container {
        height: 100vh;
        transition: all 12s, ease;
        -webkit-transition: all 12s, ease;
        -moz-transition: all 12s, ease;
        -o-transition: all 12s, ease;
        -ms-transition: all 12s, ease;

        .container-first {
            height: 50vh;

            .inp {
                width: 100%;
            }

        }
        
        #btnDo {
            margin-top: 5%;
            margin-bottom: 3%;

            position: relative;
            left: 50%;
            transform: translate(-50%, 0);
        }

        .container-second {
            height: 50vh;

            .button-block {
                margin-top: 5%;
                margin-left: 0.5%;
                margin-right: 0.5%;
    
                .btn-action {
                    border: 0;
                    margin-bottom: 3%;
                    transition: all 12s, ease;
                    -webkit-transition: all 12s, ease;
                    -moz-transition: all 12s, ease;
                    -o-transition: all 12s, ease;
                    -ms-transition: all 12s, ease;
                } 
                
            }
    
            .input-num2 {
                margin-top: 2%;
            }
        }

    }

}



