h1 {
    text-align: center;
}


.container-fluid {
    height: 100vh;

    .container {
        height: 100vh;

        .container-first {
            height: 50vh;

            .inp {
                width: 100%;
            }

        }
        
        #btnDo {
            margin-top: 5%;
            margin-bottom: 3%;

            position: relative;
            left: 50%;
            transform: translate(-50%, 0);
        }

        .container-second {
            height: 50vh;

            .button-block {
                margin-top: 2%;
    
                .btn-action {
                    border: 0;

                    margin-bottom: 3%;
                } 
                
            }
    
            .input-num2 {
                margin-top: 2%;
            }
        }

    }

}



